:root{
  --color1: #000000;
  --headfontcolor: #ffffff;
  --color2: #db0000;
  --color3: #141414;
  --color4: #831010;
  
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  color: var(--headfontcolor);
}



h1, h2, h3, h4 {
  font-family: "Merriweather", serif;
  color: var(--headfontcolor);
}

body {
  background-color: var(--color3);
  min-width: 425px;
}
header {
  height: 4em;

}
nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 100%;
  padding: 1em;
}
.logo {
  width: 40px;
}


.logo.hidden {
  visibility: hidden;
}

.nav-button {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 30px;
  justify-content: space-around;
  position: absolute;
  top: 1.25em;
  right: 1.25em;
  cursor: pointer;
}

.ham {
  width: 100%;
  height: 4px;
  background-color: var(--headfontcolor);
  border-radius: 2px;
}
.navi {
  display: none;
}
.navi.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3.5em;
  right: 0;
  background-color: var(--color3);
  width: 100%;
  text-align: center;
}

.nav-button.close .ham:nth-child(2) {
  opacity: 0;
}

.nav-button.close .ham:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.nav-button.close .ham:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.navi li a {
  text-decoration: none;
  color: var(--headfontcolor);
  padding: 0.5em;
  display: block;
}
.navi li a:hover{
  border-top: 1px solid var(--headfontcolor);
}

.active {
  border-bottom: 2px solid var(--headfontcolor);
}
img{
  width: 100%;
}

@media only screen and (min-width:769px){
  .nav-button {
      display: none;
  }

  .navi {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1em;
  }

  header {
      padding: 0 10%;
  }

  section.hero picture img {
      height: 93vh;
  }
}